@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300&display=swap');

body{
    margin: auto;
    font-family: 'Poppins', sans-serif;
}
.top{
    margin: none;
    padding: 0px;
    top: 0px;
    
}
h1{
    margin-top: 0;
    margin-bottom: 25px;
}
.name{
    background-color: rgb(249, 115, 137);
    color: white;
    padding: 0.8px;
    text-align: center;
}
table>thead th{
    height: 2rem;
    padding: 3px 0px;
    font-size: 1.4rem;
    background-color: rgb(249, 115, 137);
    color: white;
}
tr{
    font-size: 1rem;
    height: 3.06rem;
}
tr:nth-child(even){
    background-color: #efefef;
}
td:nth-child(1){
    width: 5%;
}
td:nth-child(3){
    width: 6%;
}
td:nth-child(4){
    width: 6%;
}
.demo{
    border: none;
    height: 27px;
    background-color: rgb(227, 88, 227);
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 15px;
    color: white;
}
.demo:hover{
    cursor: pointer;
    background-color: rgb(229, 9, 229);
}
.codes{
    border: none;
    height: 27px;
    background-color: rgb(252, 183, 56);
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 15px;
    color: white;
}
.codes:hover{
    cursor: pointer;
    background-color: rgb(255, 168, 5);
}
.table_responsive{
    max-width: 800px;
    border: none;
    background-color: #efefef33 ;
    padding: 1px;
    overflow: auto;
    margin: none;
    border-radius: 2px;
}
table{
    width: 70%;
    font-size: 13px;
    color: #444;
    white-space: nowrap;
    border: none;
    padding: 1px 0px;
    border-collapse: separate;
    border-spacing: 3px 0px;
    /* border-collapse: collapse; */
    box-shadow: 5px 0 5px -5px #a5a4a4,
    -5px 0 5px -5px #a5a4a4;
}

/* .action_btn{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.action_btn>a{
    text-decoration: none;
    color: #444;
    background: #fff;
    border: 1px solid orange;
    display: inline-block;
    padding: 7px 20px;
    font-weight: bold;
    border-radius:4px;
    transition: 0.3s ease-in-out;  
} */